/* Una regla para centrar (declaración text-align: center) el título <h1>.
Una regla para aplicar una fuente con serifas (declaración font-family: serif;) a todos los párrafos del documento.
Una regla para que el elemento con id #primer-parrafo tenga color de fondo #CEE.
Una regla para cambiar el color a #933 para los elementos <em> del primer párrafo.
Una regla para que todos los links muestren outline (declaración outline: 1px solid #333).
Una regla para que el texto p.fuente tenga su opacidad en 100% (se puede usar la declaración opacity: 100%;).
Una regla para que los párrafos sin id no tengan sombra (text-shadow: none). */

/*1*/
h1.titulo{
    text-align: center;
}
/*2*/
.parrafo{
    font-family: serif;
}
/*3*/
#primer-parrafo.parrafo{
    background-color: #CEE;
}
/*4*/
#primer-parrafo em{
    color: #933;
}
/*5*/
a{
    outline: 1px solid #333;
}
/*6*/
html body p.fuente.parrafo{
    opacity: 100%;
} 
/*7*/
p.parrafo:not([id]) {
	text-shadow: none;
}